<%= render 'home/topbar' %>

<%= render 'layouts/messages' %>
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5" style="background: linear-gradient(to right, hsla(140, 58%, 46%, 0.733), #ff9901a4);">
    <a href="index.html" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Farm</span>@Uaf</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="<%= root_path %>" class="nav-item nav-link">Home</a>
            <a href="<%= about_path %>" class="nav-item nav-link">About</a>
            <a href="<%= service_path %>" class="nav-item nav-link">Service</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Product</a>
                <div class="dropdown-menu m-0">
                    <a href="<%= product_index_path %>" class="dropdown-item">All</a>

                    <% @categories.each do |category| %>
                        <%= link_to category.category.capitalize() , product_index_path(q: { category_id_eq: category.id }), class: "dropdown-item" %>
                    <% end %>
                </div>
            </div>
            <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="<%= feature_path %>" class="dropdown-item">Feature</a>
                        <a href="<%= testimonial_path %>" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
<a href="<%= contact_path %>" class="nav-item nav-link">Contact</a>
            <a href="<%= blogs_path %>" class="nav-item nav-link">Blogs</a>
        </div>
    </div>
</nav>

<div class="container">

  <%= render 'layouts/messages' %>

  <div class="row">
    <div class="col-md my-3">
      <div class="card">
        <% if @product.image.attached? %>
          <%= image_tag url_for(@product.image), class: "card-img-top", alt: @product.name %>
        <% end %>
      </div>
    </div>

    <div class="col-md my-3">
      <h1><%= @product.name %></h1>
      <h4>$<%= @product.price %></h4>
      <br>

      <% if @product.description.present? %>
        <h5>Description:</h5>
        <p><%= @product.description %></p>
      <% end %>

      <h5>Category: <%= @product.category.display_name %></h5>
      <br>
      <% available_sizes = @sizes.select { |size| @product.product_sizes.find_by(size: size)&.quantity.to_i > 0 } %>

      <% if available_sizes.any? %>
        <h5>Sizes:</h5>
        
        <% @sizes.each do |size| %>
          <% product_size = @product.product_sizes.find_by(size: size) %>

          <% if product_size && product_size.quantity > 0 %>
            <a href="#" class="btn btn-outline-dark size-btn" data-size="<%= size.id %>" data-quantity="<%= product_size.quantity %>"><%= size.display_name %></a>
          <% else %>
            <a href="#" class="btn btn-outline-dark size-btn disabled" aria-disabled="true" data-size="<%= size.id %>" data-quantity="0">
              <%= size.display_name %> - Sold Out
            </a>
          <% end %>
        <% end %>

        <br>
        <br>
        <h5>Quantity:</h5>

        <div class="row">
          <div class="col-3">
            <div class="input-group">
              <button class="btn btn-secondary" id="decreaseQuantity" disabled>−</button>
              <input type="text" id="quantity" name="quantity" value="1" min="1" class="form-control text-center" readonly>
              <button class="btn btn-secondary" id="increaseQuantity" disabled>+</button>
            </div>
          </div>
        </div>

        <br>

        <%= form_with url: add_to_cart_product_path(@product), method: :post, local: true, id: 'add-to-cart-form' do %>
          <%= hidden_field_tag :size_id, '', id: 'form-size-id' %>
          <%= hidden_field_tag :quantity, '1', id: 'form-quantity' %>
          <%= submit_tag 'Add to Cart', class: 'btn btn-primary', id: 'add-to-cart', disabled: true %>
        <% end %>

      <% else %>
        <p class="text-danger"><strong>Sold Out</strong></p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'home/ai' %>
    <%= render 'home/footer' %>